<body style=" background-color:#100E17; color:#ffffff">

    <h1 style="text-align:center; 
        font-family: Arial, Helvetica;
    ">Confirma tu Cuenta</h1>

    <p style="font-family: Arial, Helvetica;">Hola, Para confirmar tu cuenta, haz click en el siguiente
        enlace, este enlace es temporal, si se vence es necesario que vuelvas a solicitar otro e-mail.</p>

    <a style="
        display:block; 
        font-family: Arial, Helvetica;
        padding: 1rem; 
        background-color: #00C897; 
        color:white; 
        text-transform:uppercase; 
        text-align:center;
        text-decoration: none;" href="{{url}}">Confirmar Cuenta</a>

    <p style="font-family: Arial, Helvetica;">Si no puedes acceder a este enlace, visita: {{url}}</p>
    <p style="font-family: Arial, Helvetica;">Si no solicitaste este e-mail, puedes ignorarlo</p>

</body>