<body style=" background-color:#100E17; color:#ffffff">

    <h1 style="text-align:center; 
        font-family: Arial, Helvetica;
    ">{{subject}}</h1>

    <p style="font-family: Arial, Helvetica;">Hola, Para completar la operación, haz click en el siguiente
        botón, este enlace es temporal, si se vence es necesario que vuelvas a solicitar otro e-mail.</p>

    <a style="
        display:block; 
        font-family: Arial, Helvetica;
        padding: 1rem; 
        background-color: #00C897; 
        color:white; 
        text-transform:uppercase; 
        text-align:center;
        text-decoration: none;" href="{{url}}">{{subject}}</a>

    <p style="font-family: Arial, Helvetica;">Si no puedes visualizar el botón
        <a href="{{url}}" style="color: cornsilk;">Haz click aquí</a></p>
    <p style="font-family: Arial, Helvetica;">Si no solicitaste este e-mail, puedes ignorarlo</p>

</body>