<body style=" background-color:#100E17; color:#ffffff">

    <h1 style="text-align:center; 
        font-family: Arial, Helvetica;
    ">Recupera tu cuenta</h1>

    <p style="font-family: Arial, Helvetica;">Hola, Para recuperar tu cuenta da click al botón y sigue las instrucciones,
        este enlace es temporal con 12 horas de validez.
    </p>

    <a style="
        display:block; 
        font-family: Arial, Helvetica;
        padding: 1rem; 
        background-color: #00C897; 
        color:white; 
        text-transform:uppercase; 
        text-align:center;
        text-decoration: none;" href="{{url}}">Confirmar Cuenta</a>

    <p style="font-family: Arial, Helvetica;">Si no puedes acceder a este enlace, Haz click aquí: {{url}}</p>
    <p style="font-family: Arial, Helvetica;">Si no solicitaste este e-mail, puedes ignorarlo</p>
</body>